{% extends 'layout.html' %}

{% block title %}Hotel Confirmation{% endblock %}</title>

    {% block navbar %} {% endblock %} 
    {% block jumbtron %} {% endblock %} 
{% block content %}
<b>Thank you for your reservation!</b>
	We would confirm your reservation via email within 24 hours.
	<i>First Choice Travel Hub</i>
{% endblock %}
    
{% block footer %} 
    <div class="container-fluid bg-light mt-3 py-3">
        <span class="text-muted">This is created for ISPROJ2</span>
    </div> 
{% endblock %}
